---

- name: Revoke certificates
  command: >-
    easyrsa revoke {{ item.name }} {{ item.reason | default('unspecified') }}
  loop: "{{ easyrsa_revoked }}"
  register: _result
  failed_when:
    - _result is failed
    - _result is not search('as the input file is not a valid certificate')
  changed_when: _result is not failed

- name: Generate CRL
  command: easyrsa gen-crl
  when: _result is changed
