---

name: CI

on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

  workflow_dispatch: ~

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        distro:
          - distro: ubuntu
            version: 1804

    env:
      IMAGE: geerlingguy/docker-ubuntu1804-ansible:latest
      INSTANCE: ubuntu1804
      DRIVER: docker

    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v2.2.1

      - name: Install molecule
        run: pip3 install ansible-lint molecule molecule-${{ env.DRIVER }} ${{ env.DRIVER }}

      - name: Get linter-config repo
        uses: actions/checkout@v3
        with:
          repository: https://github.com/nkakouros-original/linter-configs

      - name: Copy linter configs in place
        run: >-
          cp
            ${{ github.workspace }}/linter-configs/configs/*
            ${{ github.workspace }}/${{ github.event.repository.name }}/

      - name: Run molecule
        run: molecule test
        env:
          MOLECULE_DOCKER_IMAGE: ${{ env.IMAGE }}
          MOLECULE_INSTANCE_NAME: ${{ env.INSTANCE }}
